<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" id="displayDiv">
                    <img src="/logo.png" id="footerLogo">
                </div>
                <div class="col-lg-3">
                    <p>
                        <br>
                        <br>
                        Gold Coast <br>
                        Brisbane <br>
                        Sunshine Coast <br>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <br>
                        <br>
                        Head Office <br>
                        62 Tallai Rd <br>
                        Tallai Gold Coast
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <br>
                        <br>
                        <strong>Email:</strong> cbroofing@hotmail.com <br>
                        <strong>Phone:</strong>  0401 742 278
                    </p>
                    <p>
                        <a href="https://www.facebook.com/christopher.board.37"><i class="fab fa-facebook-square" id="footerFacebook"></i></a>
                    </p>
                </div>
            </div>
                <hr>
                <p class="footerP">
                    © 2019 CBMR. Powered by Think DC. All Rights Reserved. Terms & Conditions
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script type="text/javascript">
jQuery('.carousel').carousel({
interval: 7000
})
</script>

</body>
</html>