<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" id="displayDiv">
                    <img src="logo.png" id="footerLogo">
                </div>
                <div class="col-lg-3">
                    <p>
                        <br>
                        <br>
                        Gold Coast <br>
                        Brisbane <br>
                        Sunshine Coast <br>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <br>
                        <br>
                        Head Office <br>
                        62 Tallai Rd <br>
                        Tallai Gold Coast
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <br>
                        <br>
                        <strong>Email:</strong> cbroofing@hotmail.com <br>
                        <strong>Phone:</strong>  0401 742 278
                    </p>
                    <p>
                        <a href="https://www.facebook.com/christopher.board.37"><i class="fab fa-facebook-square" id="footerFacebook"></i></a>
                    </p>
                </div>
            </div>
                <hr>
                <p class="footerP">
                    © 2019 CBMR. Powered by Think DC. All Rights Reserved. Terms & Conditions
                </p>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
jQuery('.carousel').carousel({
interval: 7000
})
</script>

</body>
</html>