<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about ">
				<div class="col-lg-6 aboutPageBlur">
					<div class="aboutContent">
						<h1>About Us</h1>
						<hr>
						<br>
						<p>
							Chris Board Metal Roofing Pty Ltd (CBMR) was 
							established in 2003 and is a highly specialized 
							company in all re-roofing types and gutter replacement, 
							including Asbestos removal and disposal.
							<br>
							<br>

							CBMR also holds a full QBCC Contractors Licence, 
							and Chris Board, the director, operates as a metal 
							roofer for over 17 years, on the following classes:
							<br>

							Metal Fascias and Gutters
							<br>
							Roof and Wall Cladding
							<br>
							<br>
							The company offers its customers a 10 years 
							Workmanship Warranty and up to 25 years Bluescope 
							product's Warranty, comprising of 25 years against corrosion to 
							perforations, and 20 years against flake and peel.
						</p>
					</div>
				</div>
			<div class="col-lg-6">
				<div class="aboutImg">
					<img src="carousel7.jpg" alt="carousel7.jpg">
				</div>
			</div>
	</div>
</div>

<% include partials/footer %>