<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about ">
				<div class="col-lg-6 aboutPageBlur">
					<div class="container">
						<h1>About Us</h1>
						<p>
							Throughout the years we have built our reputation on four pillars. The pillars to our success are 
							quality, safety, reliability and integrity. We measure our success through our clients satisfaction, and we
							are very proud of the relationships we have developed and our returning clientele. With strong client support 
							and our dynamic work force we aim to grow at a healthy pace in the years to come.
						</p>
						<p>
							
						</p>
					</div>
				</div>
			<div class="col-lg-6 aboutImg">
			</div>
	</div>
</div>

<% include partials/footer %>