<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-6 aboutBlur">
				<div class="conatiner">
					<div class="service">
						<h1>Asbestos</h1>
						<hr>
						<br>
						<p>
							Chris Board Metal Roofing (CBMR) are here to help
							with any roofing project. Asbestos roofs are a big 
							concern for Australian, and can be a little worrying.
							We are licensed to provide
							A & B Class Asbestos Removals, under the Work Health 
							and Safety Regulation 2011. This enables us to safely 
							remove any and all types of friable and non-friable 
							asbestos materials (ACM’s), that are commonly found 
							in buildings and structures all over the Gold Coast and Queensland. 
							Depending
							on the size and roof construction, we usually remove 
							asbestos from site on the same 
							day. With your new Colorbond metal roof being installed 
							as soon as possible. 
						</p>
						<ul style="list-style-type: decimal; padding-left: 30px;">
							<li>We are Licenced & Insured Asbestos Removalist's</li>
							<li>Independent Hygienist used to provide your Asbestos Clearance Certificate</li>
							<li>Asbestos removed from the job site on the same day</li>
							<li>Full thorough decontamination of ceiling and components</li>
							<li>Encapsulation of roof cavity and roof structure</li>
							<li>Roof structure upgraded to current building code</li>
							<li>Certified and engineered building approvals</li>
							<li>No leak guarantee with all roof replacements</li>
							<li>Attention to Detail - Quality Installations</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-6 aboutImg">
				<img src="carousel9.jpg" alt="carousel9.jpg">
			</div>
	</div>
	
	

</div>
<% include partials/footer %>