<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-6 aboutBlur">
				<h1>Asbestos</h1>
				<p>
					<strong>Asbestos</strong> 
					in new construction projects has been banned for health and safety reasons
					 in many developed countries or regions, including the European Union, Australia, Hong Kong, Japan, 
					 and New Zealand. A notable exception is the United States, where asbestos continues to be used in 
					 construction such as cement asbestos pipes. The 5th Circuit Court prevented the EPA from banning 
					 asbestos in 1991 because EPA research showed the ban would cost between US$450 and 800 million while
					  only saving around 200 lives in a 13-year timeframe, and that the EPA did not provide adequate 
					  evidence for the safety of alternative products.[57] Until the mid-1980s, small amounts of white 
					  asbestos were used in the manufacture of Artex, a decorative stipple finish, however, some of the 
					  lesser-known suppliers of Artex were still adding white asbestos until 1999.
				</p>
			</div>
			<div class="col-6 aboutImg">
			</div>
	</div>
	
	

</div>
<% include partials/footer %>