<% include partials/header %>
<main>
	<div class="container">
		<h1>Acscot</h1>
		<p>This apartment block in Ascot was experiencing sever rust. A complete overhaul was required to meet the Australian saftey Standards.</p>
			<div class="row">
				<div class="col-lg-3">
					<img class="galleryImage" src="/Ascot/img1.jpg">
				</div>
				<div class="col-lg-3">
					<img class="galleryImage" src="/Ascot/img2.jpg">
				</div>
				<div class="col-lg-3">
					<img class="galleryImage" src="/Ascot/img3.jpg">
				</div>
				<div class="col-lg-3">
					<img class="galleryImage" src="/Ascot/img4.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<img class="galleryImage" src="/Ascot/img5.jpg">
				</div>
				<div class="col-lg-3">
					<img class="galleryImage" src="/Ascot/img6.jpg">
				</div>
			</div>
	</div>
</main>
<% include partials/footer %>