<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-lg-6 aboutBlur">
				<div class="container">
					<div class="service">
						<h1>Down Pipes</h1>
						<hr>
						<br>
						<p>
							<strong>downpipes</strong> leader is a pipe for carrying rainwater from a rain gutter.
							Downspouts are usually vertical and usually extend down to ground level. 
							There is generally a bend of 70 degrees at the bottom. The water is 
							directed away from the building's foundation, to protect the foundations 
							from water damage. The water is usually piped to a sewer, or let into the g
							round through seepage.
							The first ever downspout to be installed was in 1240 on the Tower of London, 
							as it was whitewashed and the newly painted walls had to be protected from 
							the rain. Decorative heads are sometimes added, these being low-height gargoyles.
						</p>
					</div>
				</div>	
			</div>
			<div class="col-lg-6 aboutImg">
				<img src="DownPipe.jpg" alt="DownPipe.jpg">
			</div>
	</div>
	
	

</div>
<% include partials/footer %>