<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-6 aboutBlur">
				<div class="container">
					<div class="service">
						<h1>Edge Protection</h1>
						<hr>
						<br>
						<p>
							<strong>Edge Protection</strong> 
							is fall protection equipment most commonly used during the construction of
							commercial buildings or residential housing. It often consists of a toe board, a main guard rail
							and an intermediate rail.
						</p>
					</div>
				</div>
			</div>
			<div class="col-6 aboutImg">
				<img src="EdgeProtection.jpg" alt="EdgeProtection.jpg">
			</div>
	</div>
	
	

</div>
<% include partials/footer %>