<% include partials/header %> 
<main>
	<div class="container">
		<div class="galleryDiv row">
			<div class="col-lg-4">
				<a href="Gallery/Southport">
					<img class="galleryImage" src="Southport/img10.jpg">
				</a>
				<p>Southport Project</p>
			</div>
			<div class="col-lg-4">
				<a href="Gallery/Coombabah">
					<img class="galleryImage" src="Coombabah/img1.jpg">
				</a>
				<p>Coombabah Project</p>
			</div>
			<div class="col-lg-4">
				<a href="Gallery/Alstonville">
					<img class="galleryImage" src="Alstonville/img1.jpg">
				</a>
				<p>Alstonville Project</p>
			</div>
		</div>
		<div class="galleryDiv row">
			<div class="col-lg-4">
				<a href="Gallery/Ascot">
					<img class="galleryImage" src="Ascot/img1.jpg">
				</a>
				<p>Ascot Project</p>
			</div>
		</div>
	</div>
</div>
</main>
<% include partials/footer %>