<% include partials/header %> 
<main>
	<div class="container">
		<br>
		<h1>Gallery</h1>
		<hr>
		<br>
		<p>
			At Chris Board Metal Roofing (CBMR), we believe our work speaks
			for its. Over the years we have created a beutiful portfolio of 
			our accomplishments which we are happy to share wih you here.
		</p>
		<div class="galleryDiv row">
		<% imageGallery.forEach(function(img){ %>
			<div class="col-lg-4">	
				<a href="Gallery/<%= img.name %> ">
					<img class="galleryImage" src="<%= img.images[0] %>">
				</a>
				<p><%= img.name %>  Project
				<br>
				<%= img.date %>
				</p>
			</div>
		<% }) %> 
		</div>
	</div>
</div>
</main>
<% include partials/footer %>