<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
				<div class="col-lg-6 aboutBlur">
					<div class="container">
						<div class="service">
							<h1>Gutters</h1>
							<hr>
							<br>
							<p>
								Your gutter system diverts rainwater 
								away from your home, protecting your 
								roof, siding, and foundation. Choosing 
								to have your gutters replaced along 
								with your roof makes for a simpler 
								process that will save you time and 
								energy. Because gutters typically need 
								to be removed when installing a new roof, 
								installing new gutters along with your 
								roof can net significant cost savings.
							</p>
							<br>
							<br>
							<h1>Facsia</h1>
							<hr>
							<br>
							<p>
								The fascia is the frieze under a roof that 
								creates a visually appealing surface to 
								the observer below. Besides looking very 
								attractive, they also serve to protect the 
								underbelly of the sheath from water damage. 
								This will often be the first part of a roof 
								to receive damage if poorly installed and we
								 offer repair and replacement services.
							</p>
						</div>
					</div>
				</div>
			<div class="col-lg-6 aboutImg">
				<img src="gutters.jpg" alt="gutters.jpg">
			</div>		
	</div>
</div>
<% include partials/footer %>