<!DOCTYPE html>
<html>
<head>
<!-- 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<script src="https://kit.fontawesome.com/1c59f0b14b.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Chris's Home Page</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a href="#" class="navbar-brand"><img src="logo.png" id="logo"></a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarmenu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="/" class="nav-link active">Home</a>
				</li>
				<li class="nav-item">
					<a href="Gallery" class="nav-link">Gallery</a>
				</li>
				<li class="nav-item">
					<a href="About" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<p class="nav-link" id="number">(07) 553555555</p>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="ultimate">

	<div id="carouselExampleInterval" class="carousel carousel-fade" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active" data-interval="2000" id="transition">
	      <img src="roof1sized.jpg" class="d-block w-100 triangle" alt="...">
	    </div>
	    <div class="carousel-item" data-interval="2000">
	      <img src="roof2sized.png" class="d-block w-100 triangle" alt="...">
	    </div>
	    <div class="carousel-item" data-interval="2000">
	      <img src="roof6sized.jpg" class="d-block w-100 triangle" alt="...">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>


	<div class="container-fluid logo-home-div">
		<img src="logo.png" id="logo-home">
		<h2>
			Modern - Strong - Durable
		</h2>
		<p id="description"> Chris Board Metal Roofing has been assisting Queenslander against the harsh Queensland weather conditions for over 15 years</p>
	</div>
	<br>
	<br>
	<hr class="container">
<br>
<br>
	<div class="middle container">
		<div class="row">
			<div class="col-3">
				<i class="fas fa-random"></i>
				<h4>Design and Engineering</h4>
				<p>Any type of roofing design to meet client reqiurements. Using only 
				the highest quality material to withstand the harsh Australian weather 
				conditions</p>
			</div>		
			<div class="col-3">
				<i class="fas fa-truck-moving"></i>
				<h4>removal</h4>
				<p>
					<br>
					removal of existing roofing material. 
				Maintaing structural integrity of framing</p>
			</div>
			<div class="col-3">
				<i class="fas fa-wrench"></i>
				<h4>install</h4>
				<p>Tiles or metal roofing</p>
			</div>

			<div class="col-3">
				<i class="fas fa-radiation"></i>
				<h4>Asbestos</h4>
				<p>Maintaining a safe working environment.</p>
			</div>
			

		</div>
		

	</div>
</div>
<div class="strip">
	<div class="stripFront">
		<div class="container strip-container">
			<div class="row">
				<div class="col-4" id="displayDiv">
					<img src="display.jpg" id="display">
				</div>
				<div class="col-8 message">
					<h3>We'll find the best solutions for your problem.</h3>
					<p>Need a new roof? Is your roof looking old? Is it leaking? I can install a new colorbond metal roof to bring the appearance of your house into the 21st century.
			I am BSA licenced, asbestos removal licenced, all work is guaranteed.
			I can remove, metal, tiles, asbestos, any kind of old roof and install modern, strong and durable metal roof.
			I only use the best blue scope steel products.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-div-main">
	<div class="container text-div">
		<h1>
		Call us today for a free Quote.
		</h1>
	</div>
	<div class="container text-div">
		<h1>
		Satisfaction Guaranteed.
		</h1>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-3" id="displayDiv">
				<img src="logo.png" id="display">
			</div>
			<div class="col-3">
				<p>
					<br>
					<br>
					Gold Coast <br>
					Brisbane <br>
					Sunshine Coast <br>
				</p>
			</div>
			<div class="col-3">
				<p>
					<br>
					<br>
					Head Office <br>
					23/122 The boulevard <br>
					Southport Gold Coast
				</p>
			</div>
			<div class="col-3">
				<p>
					<br>
					<br>
					<strong>Email:</strong> chrisboar@jdbdjc.com <br>
					<strong>Phone:</strong> 5555 5555 5555
				</p>
			</div>
		</div>
			<hr>
			<p class="footerP">
				© 2019 CBMR. Powered by Think DC. All Rights Reserved. Terms & Conditions
			</p>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>