<% include partials/header %>
		<div class="ultimate">
			<div>
				<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel"
				data-interval="4000" data-pause="false">
					<div class="Satisfaction">
						<img class="Satisfaction" src="satisfaction.png">
					</div>
					<div class="quote">
						<head>
						<h1 id="quote"><strong>Chris Board</strong> <br>Metal Roofing</h1>
						</head>
						<br>
						<a href="/quote " class="btn btn-outline-primary buttons"> Get a free quote <i class="fas fa-caret-right"></i></a>
					</div>
					<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="carousel7.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="carousel1.jpg" class="d-block w-100" alt="...">
					</div>	    
					<div class="carousel-item">
						<img src="carousel6.jpg" class="d-block w-100" alt="...">
					</div>   
					<div class="carousel-item">
						<img src="Carousel8.jpg" class="d-block w-100" alt="...">
					</div>	    
					<div class="carousel-item">
						<img src="carousel9.jpg" class="d-block w-100" alt="...">
					</div>
					</div>
				</div>
				</div>			
			<br>
			<br>
				<div class="middle">
					<div class="row align-items-center">
						<div class="col-lg-1 belowCarousel empty">
						</div>	
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="/Gutter">
								<h4>Gutters and Fascia</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="/DownPipes">
								<h4>Down Pipes</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="/SkyLights">
								<h4>Sky Lights</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="WhirlyBirds">
								<h4>Whirly Birds</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="Insulation">
								<h4>Insulations </h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="RoofAnchors">
								<h4>Roof </h4>
								<h4>Anchors</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="RoofWalkways">
								<h4>Roof</h4>
								<h4>Walkways</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="EdgeProtection">
								<h4>Edge</h4>
								<h4>Protection</h4>
							</a>
						</div>		
						<div class="col-lg-1 belowCarousel">
							<a class="btn belowCarouselButton" href="AsbestosRemoval">
								<h4>Asbestos Removal</h4>
							</a>
						</div>	
						<div class="col-lg-1 belowCarousel empty">
						</div>	
					</div>
				</div>
			</div>
			<div class="strip">
				<div class="stripFront">
					<div class="container strip-container">
						<div class="row">
							<div class="col-12 message">
								<div class="statement">
									<h1>Business Overview</h1>
									<hr>
								</div>
								<p>
									Chris Board Metal Roofing started in 2003 here in the Gold Coast
									 and over the 
									past 17 years Chris Board Metal Roofing has expanded 
									its workforce and has since improved the appeal of over 
									2000 commercial and residential Gold Coast and Brisbane buildings and 
									 throughout the 
									south east of Queensland and northern coast of NSW. 
									We Specialise in:
								</p>
								<ul>
									<li><a href="AsbestosRemoval">Asbestos Removal</a></li>
									<li><a href="/Gutter">Gutter and Fascia</a></li>
									<li><a href="/DownPipes">Down Pipes</a></li>
									<li><a href="/SkyLights">Sky Lights</a></li>
									<li><a href="WhirlyBirds">Whirly Birds</a></li>
									<li><a href="Insulation">Insulations</a></li>
									<li><a href="RoofAnchors">Roof Anchors</a></li>
									<li><a href="RoofWalkways">Roof Walkways</a></li>
									<li><a href="EdgeProtection">Edge Protection</a></li>
								</ul>
								<p>
									At Chris Board Metal Roofing our mission is to surpass 
									every expectation our clients in the Gold Coast and Brisbane
									 have regarding their project 
									needs. Our confidence steams from our wealth of experience, 
									our relationships with our local Gold Coast and Brisbane Roofing Partners, our first class work force, 
									and our strong Clientele support and Repeated business.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="suppliers">
					<div class="suppliers-header">
						<div class="statement">
							<h1>Our Suppliers</h1>
							<hr>
							<br>
						</div>
						<p>
							Chris Board Metal Roofing sources only the highest 
							quality materials from the most reliable Gold Coast and 
							Brisbane suppliers in 
							Australia. The relationship and understanding formed 
							with these partners over the last 17 years, has equiped 
							Chris Board Metal Roofing with an efficient workflow, 
							expediting all projects to meet stringent timeframe.
						</p>
					</div>
					<div class="row">
						<div class="suppliers col-lg-3 col-sm-6">
							<img src="bluescope.png" alt="">
						</div>
						<div class="suppliers col-lg-3 col-sm-6">
							<img src="colorbond.jpg" alt="">
						</div>
						<div class="suppliers col-lg-3 col-sm-6">
							<img src="steeline.jpg" alt="">
						</div>
						<div class="suppliers col-lg-3 col-sm-6">
							<img src="unicote.png" alt="">
						</div>
					</div>
				</div>
			</div>		
			<div class="strip">
				<div class="stripFront">
					<div class="container strip-container">
						<div class="statement">
							<h1>Testimonials</h1>
							<hr>
						</div>
						<div class="row">
							<div class="col-lg-6 testimonial">
								<p>
									“He delivered on what he said he was going to do. 
									Within 48 hours of us speaking he had inspected 
									the site and provided the quote I requested. 
									Along with the quote he supplied photographs 
									of the damaged area to assist the body corporate 
									to make a decission.”
								</p>
								<h4>-Greg Gibbards, Miami Gold Coast</h4>
							</div>
							<div class="col-lg-6 testimonial">
								<p>
									“I would highly recommend Chris. 
									He provided a quote within a day, 
									he had all his safety information ready to go, 
									the job has gone to plan, his team members are 
									polite and hardworking, the job site has been 
									maintained in first class condition clean and safe. 
									Chris is ahead of schedule a pleasure to 
									deal with and provided a very competitive quote 
									given I has a clear idea on costs of labour and 
									materials. The job was over 1000 Square metres of 
									insulation and roofing.”
								</p>
								<h4>- Bruce Highfield, Albion Brisbane</h4>
							</div>
						</div>
						<a href="Testimonials">See More</a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="suppliers">
					<div class="statement">
						<h1>We'll find the best solutions for your problem.</h1>
						<h1>Guaranteed!</h1>
						<hr>
						<br> 
					</div>
					<div class="row">
						<div class="message col-lg-6">
							<p>Need a new roof? Is your roof looking old? Is it leaking? I can install a new colorbond metal roof to bring the appearance of your house into the 21st century.
								I am BSA licenced, asbestos removal licenced, all work is guaranteed.
								We have had great success with our Gold Coast and Brisbane clients in the past. 
								See our Testimonials for more information.
								I can remove, metal, tiles, asbestos, any kind of old roof and install modern, strong and durable metal roof.
								I only use the best blue scope steel products.</p>
								<br>
						<a href="/quote " class="btn btn-outline-primary buttons"> Get a free quote <i class="fas fa-caret-right"></i></a>
						<br>
						<br>
						</div>
						<div class="col-lg-6" id="displayDiv">
							<img src="display.jpg" id="stripImg">
						</div>
					</div>
				</div>
			</div>		
			<br>
			<br>
</main>

<% include partials/footer %>