<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-lg-6 aboutBlur">
				<div class="container">
					<div class="service">
						<h1>Instulation</h1>
						<hr>
						<br>
						<p>
							Insulation is a vital component of building a modern healthy home. 
							Correctly installed insulation in the roof, walls, and under the floor will:
						</p>
						<ul style="list-style-type: decimal; padding-left: 5%;">
							<li>Reduce heating costs in winter</li>
							<li>Keep your home cooler in summer and reduce the need for air conditioning</li>
							<li>Minimise the impact of outside noise</li>
							<li>Help to protect your family’s health by reducing dampness and the growth of harmful mould</li>
						</ul>
						<p>
							Chris Board Metal Rooding is happy to help clients with their insulation needs.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 aboutImg">
				<img src="insulation.jpg" alt="insulation.jpg">
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>