<% include partials/header %>
<div class="quote">
	<h1>Chris Board Metal Roofing Quote Request</h1>
	<hr>
	<br>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<h3>Need Help Roofing?</h3>
			<h4>We'd be happy to help</h4>
			<p>
					If you're ready to get started with our top-quality roofing solutions, 
					contact us today. For free quotes or to get started on your commercial 
					roofing needs, give us a call or send a message.
			</p>
			<h4>Want to know more about CBMR?</h4>
			<p>Visit us on Facebook and leave a like.</p>
			<a href="https://www.facebook.com/christopher.board.37"><i class="fab fa-facebook-square" id="facebook"></i></a>
			<a href="/"><img id="quoteLogo" src="logo.png" alt="logo.png"></a>
		</div>
		<div class="form-box col-lg-6">
			<form method="POST" action="/createQuote">
				<div class="row">
					<div class="col-6">
					<input type="text" placeholder="First Name" name="First Name" margin-left="0">
					</div>
					<div class="col-6">
					<input type="text" placeholder="Last Name" name="Last Name">
					</div>
					<input type="text" placeholder="Phone Number" name="Number-quote">
					<input type="email" placeholder="Email" name="Email">
					<textarea name="Message" placeholder="Message..." rows="5"></textarea>
					<button type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<% include partials/footer %>