<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
				<div class="col-lg-6 aboutBlur">
					<div class="container">
						<div class="service">
							<h1>Roof Anchors</h1>
							<hr>
							<br>
							<p>
								<strong>Roof Anchors</strong> A roof anchor is a device installed on the roof of a building
									that is designed to serve as an anchor point for a fall arrest system.
			
								Clause 9.3.3 of AS 1891.4:2000 requires that permanently installed anchorages are inspected
								and serviced by a competent person every twelve months. Major Council buildings in many municipalities
								will be fitted with roof anchors.
							</p>
						</div>
					</div>
				</div>
			<div class="col-lg-6 aboutImg">
				<img src="RoofAnchor.jpg" alt="RoofAnchor.jpg">
			</div>
	</div>
	
	

</div>

<% include partials/footer %>