<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
				<div class="col-lg-6 aboutBlur">
					<div class="container">
						<div class="service">
							<h1>Roof Walkways</h1>
							<hr>
							<br>
							<p>
								<strong>Roof Walkways</strong> , eavestrough or surface water collection channel is a component of a 
								water discharge system for a building.[1] It is necessary to prevent water dripping 
								or flowing off roofs in an uncontrolled manner for several reasons: to prevent it 
								damaging the walls, drenching persons standing below or entering the building, and 
								to direct the water to a suitable disposal site where it will not damage the foundations 
								of the building. In the case of a flat roof, removal of water is clearly essential to 
								prevent water ingress and to prevent a build-up of excessive weight.
								Water from a pitched roof flows down into a valley gutter, a parapet gutter or an eaves 
								gutter. An eaves gutter is also known as an eavestrough (especially in Canada), rhone 
								(Scotland)[2], eaves channel, dripster, guttering, rainspouting or simply as a gutter.
									The word gutter derives from Latin gutta (noun), meaning "a droplet".[4]
								Guttering in its earliest form consisted of lined wooden or stone troughs. Lead was a popular 
								liner and is still used in pitched valley gutters. Many materials have been used to make 
								guttering: cast iron, asbestos cement, UPVC (PVCu), cast and extruded aluminium, 
								galvanized steel, wood, copper, zinc, and bamboo.
							</p>
						</div>
					</div>
				</div>
			<div class="col-lg-6 aboutImg">
				<img src="RoofWalkWay.jpeg" alt="RoofWalkWay.jpeg">
			</div>
	</div>
	
	

</div>
<% include partials/footer %>