<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
				<div class="col-6 aboutBlur">
					<div class="container">
						<div class="service">
							<h1>Sky Lights</h1>
							<hr>
							<br>
							<p>
								Skylights are often deemed as luxury home features. 
								People tend to appreciate them more for their aesthetic 
								appeal than their utilitarian value. However, what people 
								do not realize is that skylights are actually more useful 
								than they seem. Here at Chris Board Metal Roofing, we are happy
								to consult on how a skylight might benfit you. Some examples 
								are as follows:
							</p>
							<ul style="list-style-type: none;">
								<li>Skylights give natural light ample access to your home.</li>
								<li>Skylights help you save on your energy bill.</li>
								<li>Skylights can improve the air quality in your house.</li>
							</ul>
						</div>
					</div>
				</div>
			<div class="col-6 aboutImg">
				<img src="skylights.jpg" alt="skylights.jpg">
			</div>
	</div>
	
	

</div>

<% include partials/footer %>