<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
				<div class="col-6 aboutBlur">
					<div class="container">
						<h1>Sky Lights</h1>
						<p>
							<strong>Sky Lights</strong> 
							Skylights are widely used in designing daylighting for residential, public, and commercial buildings. 
							Increased daylighting can result in less electrical lighting use and smaller sized window glazing (sidelighting), 
							saving energy, lowering costs, and reducing environmental impacts. Daylighting can cut lighting energy use in 
							some buildings by up to 80%.
		
							Toplighting (skylights) works well with sidelighting (windows) to maximize daylighting:
		
							toplighting is able to bring light into centralized areas of a building
							daylight is available throughout the day from both ambient lighting from the sky and 
							direct exposure to the sun.
							modern transparent and/or translucent glazing can be utilized to avoid glare, aid in 
							capturing sunlight at low angles and diffuse light to wider areas of floor space.
							Even on overcast days, toplighting from skylights is three to ten times more efficient 
							than sidelighting.
						</p>

					</div>
				</div>
			<div class="col-6 aboutImg">
			</div>
	</div>
	
	

</div>

<% include partials/footer %>