<% include partials/header %>
<div class="ultimateTestimonial">
    <div class="container">
        <div class="testimonialHeader">
            <h1><strong>Testimonials</strong></h1>
            <p>
                At Chris Board Metal Roofing, nothing is more important than customer 
                satisfaction. CBMR has created great relationships over the years.
                We look forward to building further relationships within our community, 
                through effective communication and meeting requirments.
                 We are very proud to share our clients testimonials and 
                    praise. 
            </p>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “He delivered on what he said he was going to do. 
                            Within 48 hours of us speaking he had inspected 
                            the site and provided the quote I requested. 
                            Along with the quote he supplied photographs 
                            of the damaged area to assist the body corporate 
                            to make a decission.”
                        </p>
                        <h3>-Greg Gibbards, Miami</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “Prompt and professional tradesmen, 
                            competitive quote and easy to deal with. 
                            Would recommend them at every opportunity.”
                        </p>
                        <h3>- Mike Little,  Eagleby</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “Chris showed up on time and did a great job. 
                            We are very happy with our new roof. 
                            Looks awesome!”
                        </p>
                        <h3>- Marta, Shailer Park</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “I would highly recommend Chris. 
                            He provided a quote within a day, 
                            he had all his safety information ready to go, 
                            the job has gone to plan, his team members are 
                            polite and hardworking, the job site has been 
                            maintained in first class condition clean and safe. 
                            Chris is ahead of schedule a pleasure to 
                            deal with and provided a very competitive quote 
                            given I has a clear idea on costs of labour and 
                            materials. The job was over 1000 Square metres of 
                            insulation and roofing.”
                        </p>
                        <h3>- Bruce Highfield, Albion</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “Efficient, professional & courteous”
                        </p>
                        <h3>- Dave Penrose,Mudgeeraba</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “Chris knocked the job over quickly and efficiently.”
                        </p>
                        <h3>-Troy Ingram, Tallebudgera</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “He was the easiest to talk to, 
                            honest and very prompt with contact 
                            and quote.”
                        </p>
                        <h3>-Josh, Hollywell</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “I was happy with the job that Chris did. 
                            He completed the job when he said he 
                            would with no difficulties. It was great and 
                            I'd be happy to recommend him to other people.”
                        </p>
                        <h3>-Richard Wharton, Indooroopilly</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="testimonial">
                        <p>
                            “I engaged Chris Board Metal Roofing to 
                            install a new roof for us and they did the 
                            job well. I would be happy to recommend them.”
                        </p>
                        <h3>- Avo Karm, Paradise Point</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<% include partials/footer %>