<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-6 aboutBlur">
				<div class="container">
					<h1>Gutters and Fascia</h1>
					<p>
						<strong>Gutter</strong> , eavestrough or surface water collection channel is a component of a 
						water discharge system for a building.[1] It is necessary to prevent water dripping 
						or flowing off roofs in an uncontrolled manner for several reasons: to prevent it 
						damaging the walls, drenching persons standing below or entering the building, and 
						to direct the water to a suitable disposal site where it will not damage the foundations 
						of the building. In the case of a flat roof, removal of water is clearly essential to 
						prevent water ingress and to prevent a build-up of excessive weight.
						Water from a pitched roof flows down into a valley gutter, a parapet gutter or an eaves 
						gutter. An eaves gutter is also known as an eavestrough (especially in Canada), rhone 
						(Scotland)[2], eaves channel, dripster, guttering, rainspouting or simply as a gutter.
							The word gutter derives from Latin gutta (noun), meaning "a droplet".[4]
						Guttering in its earliest form consisted of lined wooden or stone troughs. Lead was a popular 
						liner and is still used in pitched valley gutters. Many materials have been used to make 
						guttering: cast iron, asbestos cement, UPVC (PVCu), cast and extruded aluminium, 
						galvanized steel, wood, copper, zinc, and bamboo.
					</p>
					<p>
						<strong>Fascia</strong>  is an architectural term for a vertical frieze or band under a roof edge, 
						or which forms the outer surface of a cornice, visible to an observer.
						Typically consisting of a wooden board, uPVC or non-corrosive sheet metal, many of the non-domestic 
						fascias made of stone form an ornately carved or pieced together cornice in which case the term fascia 
						is rarely used.
						The word fascia derives from Latin "fascia" meaning "band, bandage, ribbon, swathe". The term is also 
						used, although less commonly, for other such band-like surfaces like a wide, flat trim strip around a 
						doorway, different and separate from the wall surface.
						The horizontal "fascia board" which caps the end of rafters outside a building may be used to hold the 
						rain gutter. The finished surface below the fascia and rafters is called the soffit or eave.
						In classical architecture, the fascia is the plain, wide band across the bottom of the entablature, 
						directly above the columns. The "guttae" or drip edge was mounted on the fascia in the Doric order, 
						below the triglyph.
					</p>

				</div>
			</div>
			<div class="col-6 aboutImg">
			</div>
	</div>
	
	

</div>

<% include partials/footer %>