<% include partials/header %>
<div class="ultimateAbout">
		<div class="row row-about">
			<div class="col-lg-6 aboutBlur">
				<div class="container">
					<div class="service">
						<h1>Whirly Birds</h1>
						<hr>
						<br>
						<p>
							The reality is a whirlybird is an extremely 
							affordable and effective way to improve your 
							roof ventilation. 
						</p>
						<p>
							On the Gold Coast and 
							throughout Australia we all know the weather 
							can get uncomfortably hot. If the heat builds 
							up in your house, a whirlybird will create 
							airflow and help reduce your air conditioning 
							costs and improve comfort levels.
						</p>
						<p>	
							Ventilator Whirlybirds are wind-driven turbines designed 
							to exhaust heat and moisture from the roof 
							space without the use of electricity. Our high 
							quality, roof-mounted, aluminium roof vent 
							combines modern design with practical features 
							for guaranteed long-lasting performance. 
							Constructed from light-weight aluminium, 
							it comes with a 15-year warranty for lasting 
							peace of mind and comfort.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 aboutImg">
				<img src="carousel1.jpg" alt="carousel1.jpg">
			</div>
	</div>
	
	

</div>

<% include partials/footer %>