.ultimateAbout{
	background-color: #01539a;
    color: white;
    margin-top: 95px;
	background-color: #01539a;
	color: white;
}

.row-about{
	height: calc(100vh- 10px);;
}

.aboutImg{
	height: 100vh;
	background-image: url("carousel7.jpg");
	overflow: hidden;
	object-fit: cover;
}

.aboutBlur p{
	margin-right: 5%;
	font-size: 1.2em;
}

.aboutBlur h1{
	font-size: 3em;
	margin-top: 5%;
}

.aboutBlur h3{
	font-size: 3em;
	margin-top: 5%;
	text-align: center;
}
