main{
	/* margin-top: 100px; */
	background-color: #01539a;
	color: white;
	min-height: 100vh;
	text-align: center;
}


main img{
	width: 90%;
	margin: 5%;
	overflow: hidden;
	display: block;
}
main img:hover{
	transform: scale(1.1);
}

hr{
	border-top: solid white;
	opacity: 0.8;
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}