main{
	margin-top: 100px;
	background-color: #01539a;
	color: white;
	min-height: 100vh;
	text-align: center;
}


main img{
	width: 90%;
	margin: 5%;
	overflow: hidden;
	display: block;
}
main img:hover{
	transform: scale(1.1);
}