main{
	margin-top: 100px;
	background-color: white;
}
.middle{
	position: absolute;
	top: 760px;
	right: 5%;
	margin-top: -75px;
	text-align: center;
	text-transform: uppercase;
	background: white;
	z-index: 999;
	opacity: 0.9;
	width: 90%;
	color: #01539a;
}

.middle h4{
	font-size: 0.8vw;
	display: block;
}

.middle .empty{
	opacity: 0;
	background: white;
}
.middle a{
	height: 100%;
	color: #01539a;
	border: none;
	display: block;
	background: white;
}

.middle a:hover{
	color: white;
	background-color: #01539a;
}
.belowCarouselButton{
	width: 100%;
	padding: 0 0;
	border-radius: 0;
	vertical-align: middle;
}

.belowCarousel{
	width: 100%;
	padding: 0 0;
	height: 60px;
}

.Satisfaction{
	position: absolute;
	top:30px;
	width: 300px;
	right: 15px;
	z-index: 999;
	margin: -20px 0;
}

.aboutBlur{
	padding-top: 10%;
}
 .strip p{
	 font-size: 1.3em;
	 text-align: center;
 }

 .strip a{
	 color: white;
 }
 
 .strip a:hover{
	 color: black;
 }

 .strip li{
	 font-size: 1.3em;
	 text-align: center;
	 list-style: none;
 }


#description{
	text-align: center;
	font-size: 1.5em;
}
.navbar-light{
	opacity: 0.99;
}

.fab{
	color:#3b5998;
	font-size: 1.2em;
}

#carouselExampleInterval{
	border: #01539a solid 3px;
	z-index: 0;
	transition: transform 2s ease, opacity 2s ease-out;
}

.carousel-item {
  transition: all 0.5s ease-in-out;
}
.carousel-item{
	overflow: hidden;
}
.w-100{
	height: 650px;
	overflow: hidden;
	object-fit: cover;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.7s;
    left: 0;
    top: 0;
    position: absolute;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel-item .img-fluid {
    margin: 0 auto;
}

.statement{
	text-align: center;
	margin-bottom: 20px;
}
.strip h1 i{
	margin: 20% 0;
	font-size: 6em;
	opacity: 1;
}

#logo-home{
	height: 33%;
	position: absolute;
	right: 33%;
	z-index: 998;
}

.suppliers{
	margin: 100px 0;
}

.suppliers-header{
	text-align: center;
	margin-bottom: 40px;
}

.suppliers img{
	width: 70%
}

.buttons{
	font-size: 1.5em;
	color: #01539a;
	border-color: #01539a;
}

.buttons:hover{
	color: white;
	background-color: #01539a;
	border-color: #01539a;
}

#quote{
	font-size: 40px;
	color: black;
}

#quote strong{
	color: #01539a;
}
.quote{
	text-align: left;
	position: absolute;
	background: white;
	top: 200px;
	left: 0px;
	width: 400px;
	padding-bottom: 100px;
	box-shadow: 0px 20px #01539a;
	text-transform: uppercase;
	opacity: 0.9;
	padding-left: 50px;
	z-index: 999;
}

.quote a{
	font-size: 20px;
}

.logo-home-div{
	text-align: center;
	margin: -100px auto 0 auto;
}
.text-div-main{
	margin:5% 0;
}

.text-div{
	text-align: center;
	margin: 2% auto;
}

.strip{
	background-image: url("roof1.jpg");
	background-size: cover;
	margin-top: 5%;
	background-attachment: fixed;
}


.stripFront{
	background-color: #01539a;
	width: 100%;
	color: white;
	opacity: 0.9;
}

.strip-container{
	padding: 30px;
}

.style-one {
    border: 0;
    height: 2px;
    background: #01539a;
}

.suppliers{
	margin: 5% auto;
	text-align: center;
}

.testimonial{
	margin-top: 50px;
}

.testimonial h3{
	text-align: right;
}

.testimonial p{
	font-size: 1.3em;
	/* border: 2px black solid; */
	padding: 10px;
	/* box-shadow: 0px 20px pink; */
	background: white;
	color: #01539a;
	border-radius: 25px;
}

.suppliers p{
	font-size: 1.3em;
}

.suppliers a{
	font-size: 3vw;
}


@media (max-width:992px) {
	.middle{
	  display: none;
	}
	.quote{
		text-align: left;
		position: absolute;
		background: white;
		top: 200px;
		left: 0px;
		width: 35%;
		padding-bottom: 10%;
		box-shadow: 0px 20px #01539a;
		text-transform: uppercase;
		opacity: 0.9;
		padding-left: 50px;
	}
	.quote a{
		font-size: 2vw;
	}
	#quote{
		font-size: 3.5vw;
		color: black;
	}
	.Satisfaction{
		width: 150px;
	}
}

