main{
	margin-top: 95px;
	background-color: white;
}
.middle{
	position: absolute;
	top: 670px;
	right: 5%;
	margin-top: -80px;
	text-align: center;
	text-transform: uppercase;
	background: white;
	z-index: 999;
	opacity: 0.9;
	width: 90%;
	color: #01539a;
}
.middle h4{
	font-size: 1.19vw;
	display: block;
	
}

.middle .empty{
	opacity: 0;
	background: white;
}
.middle a{
	height: 100%;
	color: #01539a;
	border: none;
	display: block;
	background: white;
}

.middle a:hover{
	color: white;
	background-color: #01539a;
}
.belowCarouselButton{
	width: 100%;
	padding: 0 0;
	border-radius: 0;
	vertical-align: middle;
}

.belowCarousel{
	width: 100%;
	padding: 0 0;
	height: 60px;
}

.Satisfaction{
	position: absolute;
	top:60px;
	width: 45%;
	right: 15px;
	z-index: 999;
	margin: -20px 0;
}
.icon{
	border: #01539a solid 3px;
	border-radius: 50%;
	font-size: 1em;
	padding: 2px;
}

.icon:hover{
	background-color: #01539a;
	color: white;
}

.aboutBlur{
	padding-top: 10%;
}
 .strip p{
 	font-size: 1.2em;
 }


#description{
	text-align: center;
	font-size: 1.5em;
}
.navbar-light{
	opacity: 0.99;
}

.fab{
	color:#3b5998;
	font-size: 1.2em;
}

#carouselExampleInterval{
	border: #01539a solid 3px;
	z-index: 0;
	transition: transform 2s ease, opacity 2s ease-out;
}

.carousel-item {
  transition: all 0.5s ease-in-out;
}
.carousel-item{
	overflow: hidden;
}
.w-100{
	height: 550px;
	overflow: hidden;
	object-fit: cover;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.7s;
    left: 0;
    top: 0;
    position: absolute;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel-item .img-fluid {
    margin: 0 auto;
}

#logo-home{
	height: 33%;
	position: absolute;
	right: 33%;
	z-index: 998;
}

.buttons{
	font-size: 1.5em;
	color: #01539a;
	border-color: #01539a;
}

.buttons:hover{
	color: white;
	background-color: #01539a;
	border-color: #01539a;
}

#quote{
	font-size: 3.5em;
	color: black;
}

#quote strong{
	color: #01539a;
}
.quote{
	text-align: left;
	position: absolute;
	background: white;
	top: 200px;
	left: 0px;
	width: 35%;
	height: 35%;
	box-shadow: 0px 20px #01539a;
	text-transform: uppercase;
	opacity: 0.9;
	padding-left: 50px;

}
.logo-home-div{
	text-align: center;
	margin: -100px auto 0 auto;
}
.text-div-main{
	margin:5% 0;
}

.text-div{
	text-align: center;
	margin: 2% auto;
}

.strip{
	background-image: url("roof1.jpg");
	background-size: cover;
	margin-top: 5%;
}

.stripFront{
	background-color: #01539a;
	width: 100%;
	color: white;
	opacity: 0.9;
}

.strip-container{
	padding: 30px;

}

.style-one {
    border: 0;
    height: 2px;
    background: #01539a;
}