* {
	margin: 0;
	padding: 0;
  }

body{
	color: #01539a;
	font-size: 1vw;
	background-color: white;
	height: 100%;
	overflow: auto;
}
/* Navbar items */
#number{
	font-weight: 700;
	color: #01539a;
	size: 3em;
}
#logo{
	width: 140px;
}

#footerLogo{
	margin: 40px auto;
	width: 80%;
	max-width: 30vw;
}

#stripImg{
	margin: 5px;
	width: 80%;
}

#displayDiv{
	text-align: center;
}
.fab{
	color:#3b5998;
	font-size: 1.2em;
}

h2{
	font-size: 4.0em;
	text-align: center;
}

h1 strong{
	font-size: 1.2em;
}

hr{
	border-top: 3px solid #01539a;
	opacity: 0.8;
}

h3{
	font-size: 2.5em;
}

.navbar{
	z-index: 9999;
	height: 100px;
}
.nav-item{
	text-transform: Uppercase;
}

.navbar a,
.navbar p
	{
	/* Never get larger than this */
	font-size: 1em;
}


/* @media (min-width:993px){
	.navbar a{
		font-size: 1.1em;
	}
	.navbar p{
		font-size: 1.1em;
	}
}  */

nav a,
nav p	
	{
	background: white;
}

.footer{
	background: #c2ccd5;
	text-align: center;
	color: #01539a;
	z-index: 999;
}

.footer p{
	margin-bottom: 0;
}

.footer i{
	height: 20px;
}

#footerFacebook{
	font-size: 2em;
	color:#3b5998;
	margin-bottom: 20px;
}

.footerP{
	margin: 0;
}
