.ultimateView{
	background-color: #01539a;
	color: white;
	min-height: 100vh;
	text-align: center;
}
.ultimateView img{
	width: 100%;
	margin: 0;
	overflow: hidden;
	z-index: -1;
	padding: 0;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
 }

.ultimateView img:hover{
	position: relative;
	transform: scale(1.05);
	display: inline-block;
	z-index: 99;
}