.quote{
	padding: 50px;
	margin-top: 100px;
	background-color: #01539a;
	color: white;
	font-size: 1em;
}

#facebook{
	color: white;
	font-size: 5em;
}

#quoteLogo{
	filter: invert(1) grayscale(1);
	height: 3em;
	margin-bottom: 10%;
	margin-left: 10%;

}

h1{
	text-align: center;
}
.form-box {
	display: flex;
	padding: 20px;
	align-content: center;
	border: black solid 3px;
	padding: 30px auto;
	}


form button{
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	border: none;
	border-bottom: 4px solid white;
	background: white; 
	font-size: 16px;
	font-weight: 400;
	color: #01539a;
	}

button:hover {
	background: #d0dfe8;
	} 

form input,
form textarea {
	display: block;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background: #d0dfe8;
	}

input,
textarea
	{
	font-size: 15px;
}

p {
		font-size: 13px !important;
	}





	@media (min-width:993px){
		p {
			font-size: 13px !important;
		}
	} 
	