.ultimateAbout{
	background-color: #01539a;
    color: white;
    margin-top: 100px;
	background-color: #01539a;
	color: white;
	height: calc(100vh- 80px);
}

.aboutImg img{
	height: 100vh;
	overflow: hidden;
	object-fit: fill;
}

.service h1{
	font-size: 3.0em;
}

.service{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10vh;
}

.service p{
	font-size: 1.3em;
}

.service ul{
	font-size: 1.3em;
}


.aboutBlur h3{
	font-size: 3em;
	margin-top: 5%;
	text-align: center;
}
