.ultimateTestimonial{
	background-color: #01539a;
    color: white;
    margin-top: 100px;
	background-color: #01539a;
	color: white;
	height: calc(100vh- 80px);
	padding-top: 2em;
}

.testimonialHeader p{
	margin: 20px 0;
}

.testimonialHeader h1{
	text-align: center;
}

.testimonial{
	margin-top: 50px;
}

.testimonial h3{
	text-align: right;
}

.testimonialHeader p{
	font-size: 1.3em;
}

.testimonial p{
	font-size: 1.3em;
	/* border: 2px black solid; */
	padding: 10px;
	/* box-shadow: 0px 20px pink; */
	background: white;
	color: #01539a;
	border-radius: 25px;
}